force-app/main/default/flows/sym_Screen_Create_Recommendation_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_Recommendation_Request</name>
        <label>Populate Recommendation Request</label>
        <locationX>771</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Coinsurance_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Coinsurance_INN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_OOP_max_Family_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_OOP_max_Family_INN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Between_31_40__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Coinsurance_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Coinsurance_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Family_Deductible_In_Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Family_Deductible_In_Network__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Family_Deductible_In_Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Family_Deductible_In_Network__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Family_Deductible_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Family_Deductible_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Individual_Deductible_In_Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Individual_Deductible_In_Network__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_OOP_max_Individual_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_OOP_max_Individual_INN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_premium_PMPM_Family_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_premium_PMPM_Family_INN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_premium_PMPM_Family_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_premium_PMPM_Family_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_premium_PMPM_Individual_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_premium_PMPM_Individual_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_OOP_max_Family_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_OOP_max_Family_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_OOP_max_Family_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_OOP_max_Family_INN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Individual_Deductible_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_Individual_Deductible_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_OOP_max_Individual_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.Current_OOP_max_Individual_OON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Between_31_40__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>53.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Between_41_50__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>62.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Between_51_60__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_of_Family_Plans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>135.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_of_Individual_Plans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>51.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_Cobra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>223.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_Retiree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_with_Dependents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>68.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_of_Females__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>86.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_of_Males__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Over_60__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Average_Premium_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_PriorEOBRecord.AVG_PREM_PMPM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Average_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Deductible_Family_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Deductible_Family_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Target_Deductible_Individual_INN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Target_Deductible_Individual_OON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_OOP_Max_Individual_in_Network__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Number_Between_21_30__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Average_age_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>43.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.SIC_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_AccountRecord.SicDesc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.ZipCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sym_AccountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.State_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Subscriber_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>223.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Current_Number_of_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Dependents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>308.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Member_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Salary_Ranges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$43,000 - $223,000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Employee_Age_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>21 - 67</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Plan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sym_RecommendationRequestRecord.Total_Average_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>43.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recommendation_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>1056</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>sym_QuoteRecord.sym_Call_out_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Census Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Record_0</name>
        <label>Update Quote Record</label>
        <locationX>322</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>sym_QuoteRecord.sym_Call_out_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Census_Record</name>
        <label>No Census Record</label>
        <locationX>416</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Get_Prior_EOB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Census_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sym_CensusRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Record</targetReference>
            </connector>
            <label>No Census Record</label>
        </rules>
    </decisions>
    <interviewLabel>Screen Create Recommendation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Create Recommendation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alike_Company_1</name>
        <label>Create Alike Company 1</label>
        <locationX>798</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Create_Alike_Company_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <stringValue>9822-11</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <stringValue>Openlane</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Company_Alike_ReceiveReimagine_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Alike_Company_1_0</name>
        <label>Create Alike Company 1</label>
        <locationX>925</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Create_Alike_Company_1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <stringValue>4512-39</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <stringValue>Yearin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Company_Alike_ReceiveReimagine_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Alike_Company_1_0_0</name>
        <label>Create Alike Company 1</label>
        <locationX>1036</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Create_Suggested_Plan_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Company_Id__c</field>
            <value>
                <stringValue>3012-93</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <stringValue>Gogozoom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Company_Alike_ReceiveReimagine_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Plan_Selection_Event</name>
        <label>Create Plan Selection Event</label>
        <locationX>180</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>Update_Quote_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Status changed to Plan Selection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>sym_QuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>sym_QuoteRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Item</name>
        <label>Create Quote Line Item</label>
        <locationX>425</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Update_Stage_on_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Accident_Coverage_Type__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Members__c</field>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>sym_QuoteRecord.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1K00000bi4tcQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1K000006702cQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductStage__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>sym_QuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>950.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Item_0</name>
        <label>Create Quote Line Item</label>
        <locationX>542</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Create_Quote_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Accident_Coverage_Type__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Members__c</field>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>sym_QuoteRecord.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1K00000bi5viQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1K00000676faQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductStage__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>sym_QuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Item_0_0</name>
        <label>Create Quote Line Item</label>
        <locationX>644</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Create_Quote_Line_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Accident_Coverage_Type__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Members__c</field>
            <value>
                <numberValue>186.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1K00000bi6GuQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1K00000676r0QAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductStage__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>sym_QuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1100.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Recommendation_Request</name>
        <label>Create Recommendation Request</label>
        <locationX>926</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>sym_Create_Recommendation_Receive_Record</targetReference>
        </connector>
        <inputReference>sym_RecommendationRequestRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Suggested_Plan_Record</name>
        <label>Create Suggested Plan Record</label>
        <locationX>1038</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Create_Suggested_Plan_Record_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Plan_Name__c</field>
            <value>
                <stringValue>Anthem Blue Access PPO Option 1 with Rx Option T2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Suggested_Plan_Symphony_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Suggested_Plan_Record_0</name>
        <label>Create Suggested Plan Record</label>
        <locationX>918</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Create_Suggested_Plan_Record_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Plan_Name__c</field>
            <value>
                <stringValue>Anthem Blue Access PPO Option 1 with Rx Option T5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Suggested_Plan_Symphony_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Suggested_Plan_Record_0_0</name>
        <label>Create Suggested Plan Record</label>
        <locationX>812</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>Create_Quote_Line_Item_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Plan_Name__c</field>
            <value>
                <stringValue>Anthem Blue Access PPO Option 1 with Rx Option T5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Receive__c</field>
            <value>
                <elementReference>recommendedReceiveRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Suggested_Plan_Symphony_POC__c</object>
    </recordCreates>
    <recordCreates>
        <name>sym_Create_Recommendation_Receive_Record</name>
        <label>Create Recommendation Receive Record</label>
        <locationX>924</locationX>
        <locationY>272</locationY>
        <assignRecordIdToReference>recommendedReceiveRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Alike_Company_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Most_Popular_Plan_Id__c</field>
            <value>
                <stringValue>01t1K00000676r0QAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Popular_Plan_Name__c</field>
            <value>
                <stringValue>Anthem Blue Access PPO HIA Plus Option CSV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Recommendation_ReceiveReimagine_POC__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Prior_EOB</name>
        <label>Get Prior EOB</label>
        <locationX>610</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Recommendation_Request</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sym_QuoteRecord.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Prior_EOB_Symphony__c</object>
        <outputReference>sym_PriorEOBRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVG_PREM_PMPM__c</queriedFields>
        <queriedFields>Current_Coinsurance_INN__c</queriedFields>
        <queriedFields>Current_Coinsurance_OON__c</queriedFields>
        <queriedFields>Current_Family_Deductible_In_Network__c</queriedFields>
        <queriedFields>Current_Family_Deductible_OON__c</queriedFields>
        <queriedFields>Current_Individual_Deductible_In_Network__c</queriedFields>
        <queriedFields>Current_OOP_max_Individual_INN__c</queriedFields>
        <queriedFields>Current_premium_PMPM_Family_INN__c</queriedFields>
        <queriedFields>Current_premium_PMPM_Family_OON__c</queriedFields>
        <queriedFields>Current_premium_PMPM_Individual_OON__c</queriedFields>
        <queriedFields>Current_premium_PMPM_Individual_IN__c</queriedFields>
        <queriedFields>Current_OOP_max_Family_OON__c</queriedFields>
        <queriedFields>Current_OOP_max_Family_INN__c</queriedFields>
        <queriedFields>Current_Individual_Deductible_OON__c</queriedFields>
        <queriedFields>Current_OOP_max_Individual_OON__c</queriedFields>
        <queriedFields>Total_Average_Premium__c</queriedFields>
        <queriedFields>Total_Deductible_Family_INN__c</queriedFields>
        <queriedFields>Target_Deductible_Individual_INN__c</queriedFields>
        <queriedFields>Total_Deductible_Family_OON__c</queriedFields>
        <queriedFields>Target_Deductible_Individual_OON__c</queriedFields>
        <queriedFields>Total_OOP_Max_Individual_in_Network__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>315</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>sym_QuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>sym_Coinsurance__c</queriedFields>
        <queriedFields>sym_Copay__c</queriedFields>
        <queriedFields>sym_Family_Deductible__c</queriedFields>
        <queriedFields>sym_Family_Maximum_Out_of_Pocket__c</queriedFields>
        <queriedFields>sym_HMO__c</queriedFields>
        <queriedFields>sym_Include_Similar_Plans__c</queriedFields>
        <queriedFields>sym_Individual_Deductible__c</queriedFields>
        <queriedFields>sym_Individual_Maximum_Out_of_Pocket__c</queriedFields>
        <queriedFields>sym_Monthly_Premium__c</queriedFields>
        <queriedFields>sym_PPO__c</queriedFields>
        <queriedFields>sym_Prioritize_PPO_HMO__c</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>sym_Call_out_Status__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>447</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCensus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sym_QuoteRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>sym_AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SicDesc</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCensus</name>
        <label>GetCensus</label>
        <locationX>583</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Census_Record</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sym_QuoteRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Census_Reimagine_POC__c</object>
        <outputReference>sym_CensusRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_As_Of__c</queriedFields>
        <queriedFields>Employee_active__c</queriedFields>
        <queriedFields>Number_between_31_40__c</queriedFields>
        <queriedFields>Number_between_41_50__c</queriedFields>
        <queriedFields>Number_between_51_60__c</queriedFields>
        <queriedFields>Number_of_family_plans__c</queriedFields>
        <queriedFields>Employee_Cobra__c</queriedFields>
        <queriedFields>Employee_total__c</queriedFields>
        <queriedFields>Employee_retiree__c</queriedFields>
        <queriedFields>Employee_with_dependents__c</queriedFields>
        <queriedFields>Number_of_Female__c</queriedFields>
        <queriedFields>Number_of_individual_plans__c</queriedFields>
        <queriedFields>Number_of_Male__c</queriedFields>
        <queriedFields>Number_over_60__c</queriedFields>
        <queriedFields>Number_Between_21_30__c</queriedFields>
        <queriedFields>Average_age_of_Employees__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>1226</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Recommendation_Request_0</targetReference>
        </connector>
        <inputReference>sym_QuoteRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0</name>
        <label>Update Quote</label>
        <locationX>479</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Recommendation_Request</targetReference>
        </connector>
        <inputReference>sym_QuoteRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_on_Quote</name>
        <label>Update Stage on Quote</label>
        <locationX>315</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Create_Plan_Selection_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Symphony_Status__c</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Recommendation_Request</name>
        <label>Recommendation Request</label>
        <locationX>621</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showScreen</name>
            <fieldText>&lt;p&gt;Recommendation / rate request has been sent without error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recommendation_Request_0</name>
        <label>Recommendation Request</label>
        <locationX>1232</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showScreen_0</name>
            <fieldText>&lt;p&gt;Recommendation / rate request has been sent and returned &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;with errors&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>recommendedReceiveRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sym_AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sym_CensusRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Census_Reimagine_POC__c</objectType>
    </variables>
    <variables>
        <name>sym_PriorEOBRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prior_EOB_Symphony__c</objectType>
    </variables>
    <variables>
        <name>sym_QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>sym_RecommendationRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recommendation_Request_Reimagine_POC__c</objectType>
    </variables>
</Flow>
