force-app/main/default/flows/symphony_Create_Symphony_Group_Structure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>symphony_group50to99</name>
        <choiceText>51-99</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>51-99</stringValue>
        </value>
    </choices>
    <choices>
        <name>symphony_group99to249</name>
        <choiceText>100-249</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100-249</stringValue>
        </value>
    </choices>
    <description>Used to create the symphony group structure and is called from the new button for accounts.</description>
    <dynamicChoiceSets>
        <name>sym_OpportunityStages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sym_SICChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>symphony_Stndrd_Industrial_Classificatin__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sym_Stage_Reason_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>symphony_BrokerChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>symphony_ContactBrokerRecordType.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>symphony_BrokerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>sym_MergeNames</name>
        <dataType>String</dataType>
        <expression>{!symphony_First_Name} + &#39; &#39; + {!symphony_Last_Name}</expression>
    </formulas>
    <formulas>
        <name>symphony_Add30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>symphony_Add90Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <name>symphony_OppName</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})) + &#39; New Business &#39; + {!symphony_Business_Name}</expression>
    </formulas>
    <interviewLabel>Create Symphony Group Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Symphony Prospect Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>892</locationX>
        <locationY>528</locationY>
        <assignRecordIdToReference>symphony_OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>symphony_Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>symphony_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>sym_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>symphony_OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>symphony_PriceBook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Date__c</field>
            <value>
                <elementReference>sym_Received_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>symphony_OpportunityRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Reason__c</field>
            <value>
                <elementReference>sym_StageReason</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Used to create the group (account) from the information provided in the first screen.</description>
        <name>symphony_Create_Account</name>
        <label>Create Account</label>
        <locationX>613</locationX>
        <locationY>527</locationY>
        <assignRecordIdToReference>symphony_AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>symphony_Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>symphony_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>symphony_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>symphony_Business_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Employees__c</field>
            <value>
                <elementReference>symphony_theNumber_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>symphony_AccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SicDesc</field>
            <value>
                <elementReference>sym_Standard_Industrial_Classification</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>symphony_Create_Contact</name>
        <label>Create Contact</label>
        <locationX>745</locationX>
        <locationY>526</locationY>
        <assignRecordIdToReference>symphony_ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>symphony_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>symphony_ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>symphony_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>symphony_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>symphony_ContactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>symphony_ContactRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>This is used to create a fine tune recommendation record with the default values</description>
        <name>symphony_Create_Fine_Tune_Recommendation</name>
        <label>Create Fine Tune Recommendation</label>
        <locationX>1184</locationX>
        <locationY>526</locationY>
        <inputAssignments>
            <field>E2E_Sym_Fam_Out_Network_Deductible_Max__c</field>
            <value>
                <numberValue>35000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_Fam_Out_Network_Deductible_Min__c</field>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_Family_In_Network_Deductible_Max__c</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_Family_In_Network_Deductible_Min__c</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_In_Network_Coinsurance_Maximum__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_In_Network_Coinsurance_Minimum__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_Out_Network_Coinsurance_Maximum__c</field>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Sym_Out_Network_Coinsurance_Minimum__c</field>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Account__c</field>
            <value>
                <elementReference>symphony_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Data_sets_visible_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Family_Max_OoP_in_ntwrk_max__c</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Family_Max_OoP_ot_ntwrk_max__c</field>
            <value>
                <numberValue>30000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Family_Max_OoP_ot_ntwrk_min__c</field>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Family_Max_Oo_in_ntwrk_min__c</field>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_HMO_Medical_Plan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_HSA_Medical_Plan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indivdl_Ddtbl_InNet_Max__c</field>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Individual_Max_OoP_in_ntwrk__c</field>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indvdl_In_Ntwk_Deduct_Min__c</field>
            <value>
                <numberValue>280.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indvdl_Max_OoP_in_ntwrk_max__c</field>
            <value>
                <numberValue>7000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indvdl_Max_OoP_ot_ntwrk_max__c</field>
            <value>
                <numberValue>16000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indvdl_Max_OoP_ot_ntwrk_min__c</field>
            <value>
                <numberValue>9000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Indvl_Out_Network_Ddct_Max__c</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Invdl_Out_Ntwk_Dtbl_Min__c</field>
            <value>
                <numberValue>800.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_POS_Medical_Plan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_PPO_Medical_Plan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_1_coinsur_max__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_1_coinsur_min__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_1_copay_max2__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_1_copay_min__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_2_coinsur_max__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_2_coinsur_min__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_2_copay_max__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_2_copay_min__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_3_coinsur_max__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_3_coinsur_min__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_3_copay_max__c</field>
            <value>
                <numberValue>48.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_3_copay_min__c</field>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_4_Coinsur_min__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_4_coinsur_max__c</field>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_4_copay_max__c</field>
            <value>
                <numberValue>85.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Pharmacy_Tier_4_copay_min__c</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2E_Symphony_Prioritize_Medical_Plans__c</field>
            <value>
                <stringValue>No Prioritization</stringValue>
            </value>
        </inputAssignments>
        <object>E2E_Symphony_Fine_Tune_Recommendation__c</object>
    </recordCreates>
    <recordCreates>
        <name>symphony_Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1035</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>symphony_Create_Fine_Tune_Recommendation</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>symphony_BrokerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>symphony_OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>symphony_OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>symphony_PriceBook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>symphony_QuoteRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sym_Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sym_Employer_Main_Contact_Name__c</field>
            <value>
                <elementReference>sym_MergeNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symphony_Status__c</field>
            <value>
                <stringValue>Group Profile</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Record_Type</name>
        <label>Get Quote Record Type</label>
        <locationX>465</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Symphony_Contact_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Symphony_Quote</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>symphony_QuoteRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Symphony_Account_Record_Type</name>
        <label>Get Symphony Account Record Type</label>
        <locationX>50</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>symphony_Get_Symphony_Broker_Contact_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Symphony_Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>symphony_AccountRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Symphony_Contact_Record_Type</name>
        <label>Get Symphony Contact Record Type</label>
        <locationX>466</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>symphony_Create_Group</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Symphony_Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>symphony_ContactRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>symphony_Get_Opportunity_Record_Type</name>
        <label>Get Opportunity Record Type</label>
        <locationX>353</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Record_Type</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Symphony_Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>symphony_OpportunityRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>symphony_Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>249</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>symphony_Get_Opportunity_Record_Type</targetReference>
        </connector>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>symphony_PriceBook2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>symphony_Get_Symphony_Broker_Contact_Record_Type</name>
        <label>Get Symphony Broker Contact Record Type</label>
        <locationX>148</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>symphony_Get_Price_Book</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>symphony_Broker</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>symphony_ContactBrokerRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <description>Used to collect opportunity details.</description>
        <name>Sym_Opportunity_Details</name>
        <label>Opportunity Details</label>
        <locationX>479</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>symphony_Create_Account</targetReference>
        </connector>
        <fields>
            <name>sym_Received_Date</name>
            <dataType>Date</dataType>
            <fieldText>Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sym_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sym_StageReason</name>
            <choiceReferences>sym_Stage_Reason_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Used to create the group structure required for the symphony POC</description>
        <name>symphony_Create_Group</name>
        <label>Group Information</label>
        <locationX>131</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>symphony_Primary_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>symphony_Broker</name>
            <choiceReferences>symphony_BrokerChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Broker</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphony_Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphony_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphony_Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphony_theNumber_of_Employees</name>
            <choiceReferences>symphony_group50to99</choiceReferences>
            <choiceReferences>symphony_group99to249</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of Employees</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sym_Standard_Industrial_Classification</name>
            <choiceReferences>sym_SICChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Standard Industrial Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>symphony_Primary_Contact_Information</name>
        <label>Primary Contact Information</label>
        <locationX>363</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sym_Opportunity_Details</targetReference>
        </connector>
        <fields>
            <name>symphony_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphony_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>symphone_Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>symphony_ContactPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>symphony_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>symphony_ContactEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Symphony_Account_Record_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>symphony_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will hold the symphony record type record.</description>
        <name>symphony_AccountRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>symphony_BrokerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphony_ContactBrokerRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>symphony_ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphony_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphony_ContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphony_ContactRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>symphony_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphony_OpportunityRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>symphony_PriceBook2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>symphony_QuoteRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
